<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="75a3bc">  <td>21/10/27 20:32:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Paging63rdStreet.initializeRequestURL()[pri:0, instance:com.cohesion.Paging63rdStreet@5034c75a]">&gt;&gt;initializeRequestURL</td> 
<td>&nbsp;</td>  <td>main@2009787198</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>21/10/27 20:32:35</td>   <td>742</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Paging63rdStreet.getOakStreetRequestPageOne()[pri:1, instance:com.cohesion.Paging63rdStreet@5034c75a]">getOakStreetRequestPageOne</td> 
  <td>main@2009787198</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>21/10/27 20:32:37</td>   <td>2631</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Paging63rdStreet.initializeRequestURL()[pri:0, instance:com.cohesion.Paging63rdStreet@5034c75a]">&gt;&gt;initializeRequestURL</td> 
<td>&nbsp;</td>  <td>main@2009787198</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>21/10/27 20:32:37</td>   <td>2631</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Paging63rdStreet.getOakStreetRequestPageTwo()[pri:2, instance:com.cohesion.Paging63rdStreet@5034c75a]">getOakStreetRequestPageTwo</td> 
  <td>main@2009787198</td>   <td></td> </tr>
</table>
